@import '_variables';
/* ==========================================================================
Media Queries
========================================================================== */
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
@media (max-width: 992px) {
  .card {
    width: 49%;
  }
  .navbar {
    a.nav-link {
      float: right;
    }
    .nav-item {
      padding-right: 1em;
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    transition: none;
    // #navbarCollapse.navbar-collapse.collapse {
    //   background-color: $dark-grey !important;
    // }
    .navbar-brand {
      padding-top: 0.75em;
    }
    .navbar-toggler {
      margin-top: 0.75em !important;
    }
  }
  .carousel .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .job {
    min-width: 50% !important;
  }
  .album {
    padding: 1rem;
  }
}
@media (max-width: 550px) {
  .card {
    width: 100%;
  }
  .job {
    min-width: 100% !important;
  }
  h1 {
    font-size: 3rem !important;
  }
  .carousel {
    h2 {
      font-size: 1.5rem;
    }
    .slide3 {
      width: auto !important;
      transform: rotate(0) !important;
    }
  }
}
